cao.py
*.tmp
*.dat
*.temp
temp.*
tmp.*
update.*
cao.*
.idea/
.venv/
.history/
.pytest_cache/
__pycatch__/
*.pyc
*.egg-info/
*.egg-info/*.*
*.spec
build/
DEBUG
baseIndex.html

# Windows specific files
[Dd]esktop.ini
[Tt]humbs.db
*.url
$RECYCLE.BIN/
System Volume Information/